/* Color */

$white: #FFFFFF;
$black: #000000;
$grey: #7a7a7a;
$light-grey: #eeeeee;
$border-grey: #ebebeb;
$red: #ed1c24;


/* Font-size */

$main-title: 42px;
$second-title: 18px;
$main-size: 16px;


/* Font-family */

$main-font: 'merriweather-itralic-3d', sans-serif;
$title-font: 'kamerik-3d', sans-serif;
